<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/main.css">
	<script src="https://kit.fontawesome.com/b830815b5c.js" crossorigin="anonymous"></script>
	<title>Animages.Fun</title>
</head>

<body class="bg-cover bg-fixed bg-top  backdrop-blur-xl overflow-hidden" onload="assign_random_background()">
	
	<section class=" body-font h-screen w-auto flex flex-col justify-center">

		<div class="flex flex-col items-center">

		  <div class="text-center lg:w-2/3 w-full">

			<h1 class="sm:text-9xl text-9xl -mb-5 text-white font-trashhand"> ANIMAGES </h1>
			<h1 class="sm:text-4xl text-4xl mb-5 font-extrabold text-white font-trashhand"> .FUN </h1>

			<p class= "text-white sm:text-1xl text-2xl font-playtime"> Random Images - One URL.</p>
			<p class="mb-8 text-white sm:text-1xl text-2xl font-playtime"> Animages.fun is in beta right now! Invite Only</p>

			<div class="flex flex-col sm:flex-row justify-center items-center">
			  <button class="mx-2 my-2 sm:my-auto flex max-w-xs justify-center items-center text-white border-2 border-white py-2 px-6 rounded text-lg hover:bg-white hover:text-gray-600" onclick="window.open('https://discord.gg/WQDPQpPVH9')"><i class="fa-brands fa-discord"></i> &nbsp;&nbsp;Join Waitlist</button>
			  <button class="mx-2 my-2 sm:my-auto flex max-w-xs justify-center items-center text-white border-2 border-white py-2 px-6 rounded text-lg hover:bg-white hover:text-gray-600" onclick="window.open('https://www.patreon.com/aerial_ace')"><i class="fa-brands fa-patreon"></i> &nbsp;&nbsp;Donate to use immediately</button>
			</div>
		  </div>
		</div>
	  </section>

	  <div class="fixed right-0 top-1/2 transform -translate-y-1/2 flex flex-col space-y-4">
		<button class="border-white border-2 border-r-0 text-white px-4 py-2 rounded-tl-lg rounded-bl-lg hover:bg-white group"><i class="fa-brands fa-discord group-hover:text-gray-600 text-3xl"></i></button>
		<button class="border-white border-2 border-r-0 text-white px-4 py-2 rounded-tl-lg rounded-bl-lg hover:bg-white group"><i class="fa-brands fa-github  group-hover:text-gray-600 text-3xl"></i></button>
		<button class="border-white border-2 border-r-0 text-white px-4 py-2 rounded-tl-lg rounded-bl-lg hover:bg-white group"><i class="fa-brands fa-twitter group-hover:text-gray-600 text-3xl"></i></button>
	</div>

	<script src="/static/js/main.js"></script>
</body>

</html>